%header.header_logo
  = link_to root_path, class: 'header_logo__link', data:{turbolinks: :false} do
    = image_tag "4953.png", class: 'header_logo__link__image', size: '64x48'
    %span Fox and Candy !
    = image_tag "0080.png", class: 'header_logo__link__image', size: '75x48'