.header_logo {
  height: 50px;
  &__link {
    display: block;
    width: 350px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(46, 16, 3);
    line-height: 50px;
    margin: 20px auto 0;
    &__image {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
    }
    span {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.answer_index {
  width: 600px;
  margin: 0 auto;
  &__link {
    display: block;
    background-color: rgb(185, 238, 85);
    width:140px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(46, 16, 3);
    border: 2px dotted rgb(49, 148, 10);
    box-sizing: border-box;
    margin: 50px auto;
  }
}